.login-link {
    text-decoration: none;
    font-family: 'Source Serif Pro';
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.login-background {
    min-height: 100vh;
    background-color: #37822B;
    background-image: url("../images/Vector.png"); 
    background-repeat: repeat-y; 
    background-size: cover; 
}

.loginUI {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
    width: 903px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-text {
    color: #37822B;
    font-family: 'Source Serif Pro';
    font-size: 40px;
    margin-bottom: 100px;
}

.login-form-username, .login-form-password {
    display: flex;
    flex-direction: column;
}

.login-form-username {
    margin-bottom: 20px;
}

.login-form-password {
    margin-bottom: 100px;
}

.login-form-username-text, .login-form-password-text {
    color: #9D8D8D;
    font-family: 'Source Serif Pro';
    font-size: 20px;
}

.login-form-username-box, .login-form-password-box {
    width: 608px;
    height: 51px;
    border: solid #9D8D8D;
    border-radius: 10px;
    font-size: 20px;
}

.login-to-register {
    color: #37822B;
    font-family: 'Source Serif Pro';
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}

.login-button {
    width: 608px;
    height: 51px;
    border: none;
    background: #37822B;
    border-radius: 10px;
    color: white;
    font-family: "Source Serif Pro";
    font-size: 28px;
}