.login-sidebar {
    padding: 30px;
    height: 100%;
    
}

.login-sidebar-text {
    font-family: Cookie;
    color: white;
    font-size: 60px;
    margin-left: 20px;
}

.login-sidebar-image {
    margin-top: 40px;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
}