nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px;
    background-color: #37822B; 
    background-image: url(../images/Vector3.png);
    background-repeat: repeat-x; 
    background-size: cover; 
    height: 120px;
    align-items: center;
    max-width: 100%;
}

.nav-left {
    display: flex;
    align-items: center; 
    gap: 24px;
}

.nav-logo_name {
    color: #FFFFFF;
    font-size: 85px;
    text-shadow: 7px 7px 5px #2c2c2c;
    font-family: 'Source Serif Pro';
    font-weight: 700;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 60px;
}

.nav-button-logout {
    width: 142px; 
    height: 65px; 
    font-size: 32px;
    font-family: 'Source Serif Pro';
    border: none;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.nav-button-logout {
    background-color: #4FA94D;
}

.nav-button-logout-link{
    color: white;  
    text-decoration: none;
}

.nav-right-dropdown-icon{
    width: 39px;
    height: 39px;
    position: relative; /* Add this to make the dropdown relative to the icon */
    cursor: pointer;
    margin-bottom: 0;
}












/* CSS for the dropdown container */
.dropdown-container {
  position: relative; 
  display: inline-block;
}

/* Default styles for the dropdown menu */
.dropdown-menu-nav {
  display: none; 
  position: absolute;
  top: 100%;
  right: 15%;
  min-width: 180px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  list-style-type: none;
  padding: 0; 
  margin-top: 0;
}

/* Hover effect for the dropdown menu */
.dropdown-container:hover > .dropdown-menu-nav {
  display: block; 
}

/* Style for the dropdown menu items */
.dropdown-menu-nav li {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s}

/* Style for the links in the dropdown menu */
.dropdown-menu-nav li:hover {
  background-color: #ddd;
}

/* Style the links in the dropdown items (optional) */
.dropdown-menu-nav a {
  text-decoration: none;
  color: #333;
}
 