.changepw-form-title {
    font-family: "Source Serif Pro";
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 90px;
}

.changepw-form-oldpw,
.changepw-form-newpw,
.changepw-form-newpw2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    color: #9D8D8D;
    font-family: 'Source Serif Pro';
    font-size: 20px;
}

.changepw-form-oldpw-input,
.changepw-form-newpw-input,
.changepw-form-newpw2-input {
    width: 598px;
    height: 51px;
    border: solid #9D8D8D;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
} 

.changepw-form-button {
    width: 616px;
    height: 51px;
    background-color: #4FA94D;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 28px;
    font-weight: 600;
    margin-top: 67px;
}

.changepw-error {
    font-family: 'Source Serif Pro';
    font-size: 28px;
    font-weight: bold;
    color: red;
}