.register-sidebar {
    padding-top: 30px;
    padding-left: 30px;
    background-color: #37822B;
    background-image: url("../images/Vector.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    bottom: 0;
}

.register-feature {
    margin-left: 100px;
    align-items: center;
}

.register-sidebar-text {
    font-family: Cookie;
    color: white;
    font-size: 60px;
    margin-left: 100px;
}

.register-sidebar-image {
    width: 653px;
    height: 586px;
}
