.register-sidebar {
    padding-top: 30px;
    padding-left: 30px;
}

.register-feature {
    margin-left: 0px;
    align-items: center;
}

.register-sidebar-text {
    font-family: Cookie;
    color: white;
    font-size: 60px;
    margin-left: 15px; 
}

.register-sidebar-image {
    width: 50%;
    height: 100%;
    margin-left: 0px;
}
