.search-box {
    display: flex;
    align-items: center; 
    gap: 24px;
    margin: 20px;
    padding: 5px 20px;
    width: 608px;
    height: 51px;
    border: solid #37822B;
    border-radius: 10px;
    font-size: 20px;
    font: grey;
}

section {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 5px 5px 5px 5px;
}

.filter-icon{
    width: 39px;
    height: 39px;
    position: relative; /* Add this to make the dropdown relative to the icon */
    cursor: pointer;
    margin-bottom: 0;
}

/* hide dropdown menu */
.dropdown-menu,
.dropdown-menu-sports,
.dropdown-menu-proficiency{
    display: none; /* By default, the dropdown is hidden */
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 180px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin-top: 0;

}

/* Position dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Show the dropdown menu when the container is hovered */
.dropdown .dropdown-menu {
    display: block;
}

/* 2nd dropdown menu appear when hovered */
.dropdown-menu li:hover > .dropdown-menu-sports {
     /* UNCOMPLETE */
    display: block;
}

.dropdown-menu li:hover > .dropdown-menu-proficiency  {
    /* UNCOMPLETE */
   display: block;
}


.double-dropdown-position{
    display: flexbox;
}

/* Style the dropdown links */
.dropdown-menu li,
.dropdown-menu li ul li {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s;
}

/* Change link color on hover */
.dropdown-menu li:hover,
.dropdown-menu li ul li:hover {
    background-color: #ddd;
}

