.savedlisting-container {
    display: flex;
}

.savedlisting {
    padding-top: 114px;
    padding-left: 155px;
}

.savedlisting-title {
    margin: 0;
    font-family: "Source Serif Pro";
    font-size: 40px;
    font-weight: 600;
    color: #37822B;
}

.savedlisting-list {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 93px;
}