body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}

input[type = "file"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

.error {
    text-align: justify;
    font-family: 'Source Serif Pro';
    font-size: 28px;
    font-weight: bold;
    color: red;
}

.display {
    display: flex;
    flex-direction: column;
}

.msg {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #9D8D8D;
}